.fondoImagen{
	-fx-background-image: url("../img/fondo.jpg");
	-fx-background-size: 100.0%;
	-fx-background-repeat: no-repeat ; 
}
.blanco{
	-fx-background-color: #E5FFD2;
	-fx-background-radius: 80.0;
}
.verdeClaro{
	-fx-background-color: #E5FFD2;
}
.campos{
	-fx-text-fill: blue;
}
.btnLogin{
	-fx-background-color: white;
	-fx-text-fill: green;
	-fx-border-color: green;
	-fx-border-width: 1.5;
	-fx-border-radius: 50.0;
	-fx-background-radius: 50.0;
}
.btnLogin:hover{
	-fx-background-color: green;
	-fx-border-color: green;
	-fx-background-radius: 50.0;
	-fx-text-fill: white;
	-fx-font-family: Quicksand;
	-fx-font-size: 100.0%; 
}
.panel1{
	-fx-background-image: url('../img/1.jpg');
	-fx-background-size: 100.0%;
	-fx-background-repeat: no-repeat; 
}
.panel2{
	-fx-background-image: url('../img/2.jpg');
	-fx-background-size: 100.0%;
	-fx-background-repeat: no-repeat; 
}
.panel3{
	-fx-background-image: url('../img/3.jpg');
	-fx-background-size: 100.0%;
	-fx-background-repeat: no-repeat; 
}
.panel4{
	-fx-background-image: url('../img/fondo.jpg');
	-fx-background-size: 100.0%;
	-fx-background-repeat: no-repeat; 
}
.verde{
	-fx-background-color: lightgreen;
	-fx-background-radius: 80.0;
}
.fondoMenu{
	-fx-background-color: green;
}
.animal1{
	-fx-background-image: url('../img/ardilla.jpg');
	-fx-background-size: 100.0%;
	-fx-background-repeat: no-repeat;
}
.animal2{
	-fx-background-image: url('../img/halcon.jpg');
	-fx-background-size: 100.0%;
	-fx-background-repeat: no-repeat;
}
.animal3{
	-fx-background-image: url('../img/pezBetta.jpg');
	-fx-background-size: 100.0%;
	-fx-background-repeat: no-repeat;
}
.animal4{
	-fx-background-image: url('../img/rana.jpg');
	-fx-background-size: 100.0%;
	-fx-background-repeat: no-repeat;
}
.seccion1{
	-fx-background-color: cyan;
	-fx-text-fill: blue;
}
.seccion1:hover{
	-fx-background-color: lime;
	-fx-text-fill: green;
	-fx-translate-x: -5;
	-fx-translate-y: -5;
	-fx-cursor: hand;
}
.seccion2{
	-fx-background-color: cyan;
	-fx-text-fill: blue;
}
.seccion2:hover{
	-fx-background-color: lime;
	-fx-text-fill: green;
	-fx-translate-y: -5;
	-fx-cursor: hand;
}
.seccion3{
	-fx-background-color: cyan;
	-fx-text-fill: blue;
}
.seccion3:hover{
	-fx-background-color: lime;
	-fx-text-fill: green;
	-fx-translate-x: 5;
	-fx-translate-y: -5;
	-fx-cursor: hand;
}
.seccion4{
	-fx-background-color: cyan;
	-fx-text-fill: blue;
}
.seccion4:hover{
	-fx-background-color: lime;
	-fx-text-fill: green;
	-fx-translate-x: -5;
	-fx-cursor: hand;
}
.seccion5{
	-fx-background-color: cyan;
	-fx-text-fill: blue;
}
.seccion5:hover{
	-fx-background-color: lime;
	-fx-text-fill: green;
	-fx-cursor: hand;
}
.seccion6{
	-fx-background-color: cyan;
	-fx-text-fill: blue;
}
.seccion6:hover{
	-fx-background-color: lime;
	-fx-text-fill: green;
	-fx-translate-x: 5;
	-fx-cursor: hand;
}
.seccion7{
	-fx-background-color: cyan;
	-fx-text-fill: blue;
}
.seccion7:hover{
	-fx-background-color: lime;
	-fx-text-fill: green;
	-fx-translate-x: -5;
	-fx-translate-y: 5;
	-fx-cursor: hand;
}
.seccion8{
	-fx-background-color: cyan;
	-fx-text-fill: blue;
}
.seccion8:hover{
	-fx-background-color: lime;
	-fx-text-fill: green;
	-fx-translate-y: 5;
	-fx-cursor: hand;
}
.seccion9{
	-fx-background-color: cyan;
	-fx-text-fill: blue;
}
.seccion9:hover{
	-fx-background-color: lime;
	-fx-text-fill: green;
	-fx-translate-x: 5;
	-fx-translate-y: 5;
	-fx-cursor: hand;
}
.menu:hover{
	-fx-cursor: hand;
}